<div id="container" class="container-fluid base">
  <div class="row base justify-content-center">
    <div class="col-12 align-self-center">
      <div class="row justify-content-start">
        <div class="col-4">
          <div class="click-me" (click)="brasilfezgolpnois()">
            <button>Vamo que vamo brasilsao</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stop-this-mess">
      <button id="clicaaquipo" (click)="paraqueisso()">Para, que isso</button>
    </div>
</div>
